<!doctype html>
<html ng-app="snappiq">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>Snappiq</title>
  <link href="css/base.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/snappiq.css" rel="stylesheet">
  <script src="lib/Angular.js"></script>
  <script src="js/services/AdventureService.js"></script>
  <script src="js/controllers/AdventureController.js"></script>
</head>
<body>
<div class="sp-header">Logo</div>
<div ng-controller="AdventureController">
  <div class="sp-img-viewer" style="height:{{imgViewerHeight}}px;">   
	<div class="sp-img-note">
	  <div class="sp-title">{{item.title}}</div>
	  <div>{{item.description}}</div>
	</div>
    <div class="sp-collapse-handle" ng-class="{'fa-angle-up':isCollapsed, 'fa-angle-down':!isCollapsed}" ng-click="toggleCollapse()"></div>
  </div>
  <div class="sp-img-detail" ng-class="{collapsed:isCollapsed}">
    <div class="sp-tab-ct">
	  <div class="sp-tab" ng-class="{selected:!isInfoTabHidden}" ng-click="toggleTab('info')">Info</div>
	  <div class="sp-tab" ng-class="{selected:isInfoTabHidden}" ng-click="toggleTab('pic')">Pics</div>
	</div>
    <div class="sp-info-tab" ng-class="{hidden:isInfoTabHidden}">
		<div class="sp-tab-line border">
		  <div class="sp-panel">
			<div class="sp-title">Prize Info</div>
			<div>Snappcoins: {{item.coins}}</div>
			<div>Prize:{{item.prize}}</div>
		  </div>
		  <div class="sp-h-spliter border"></div>
		  <div class="sp-panel">
			<div class="sp-title">Timeline and Snappers</div>
			<div>{{item.validTime}} seconds left before this adventure expires</div>
			<div>{{item.snapperAmount}} snappers joined this adventure</div>
		  </div>
		</div>
		<div class="sp-tab-line border">
		  <div class="sp-panel">
			<div class="sp-title">Rate this Adventure</div>
		  </div>
		  <div class="sp-h-spliter"></div>
		  <div class="sp-rating-ct">
		    <div class="sp-rating-box">
			  <div class="sp-rating-overlay" ng-mouseout="resetRating()">
			    <div ng-repeat="index in [1,2,3,4,5,6,7,8,9,10]" ng-mouseover="showRatingTips(index)" ng-click="updateRating(index)"></div>
			  </div>
			  <div class="sp-rating" style="width:{{ratingPercent}};"></div>
		    </div>
		  </div>
		</div>
		<div class="sp-tab-line">
		  <div class="sp-panel">
			<div class="sp-title">Descriptions and Rules</div>
		  </div>
		  <div class="sp-h-spliter"></div>
		  <div class="sp-rating-ct"></div>		  
		</div>  
		<div class="sp-rules">{{item.rules}}</div>	
	</div>
	<div class="sp-pic-tab" ng-class="{hidden:!isInfoTabHidden}">Pic list</div>
  </div>
</div>
</body>
</html>